<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>学生成绩管理系统</title>
     <link rel="icon" href="../favicon.ico">
     <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>

<body>
<div class="container">
    <div class="header">
        <span class="left">学 生 成 绩 查 询</span>
        <span class="right">你 好，{{user_info}}老 师!</span>
        <span class="right_right"><a href="/">退出登陆</a></span>
    </div>
    <div class="leftside">
        <ul>
            <li><a href="/student">学生信息录入</a></li>
            <li><a href ="/updata_student">学生信息修改</a></li>
            <li><a href="/teacher_class">老师开设课程查看</a></li>
            <li><a href="/teacher">选课信息录入</a></li>
            <li><a href="/grade">成绩信息录入</a></li>
            <li class="first"><a href="#">学生成绩查询</a></li>
            <li><a href="/graduation">毕业去向</a></li>
            <li><a href="/adminstator">系统管理员变动</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <h1 class="sub-header">学 生 成 绩 查 询 系 统</h1>&nbsp;&nbsp;
        <hr>
        <div class="table-responsive">
            <table class="table table-striped" cellspaing="10">
                <tbody>
                    <tr>
                        <form action="" method="post" onsubmit="return handleSubmit()">
                            <td><label for="#">请选择查询的方式:(学号/姓名/课程名称/所在班级)</label>&nbsp;&nbsp;&nbsp;</td>
                            <td><select name="selected_one">
                                    <option value="学号" selected="selected">学号</option>
                                    <option value="姓名">姓名</option>
                                    <option value="课程号">课程号</option>
                                    <option value="所在班级">所在班级</option>
                                </select></td>&nbsp;
                            <td><input class="long" type="text" name="query"></td>
                            <td><input class="last" type="submit" value="查询" /></td>
                            <td"><span>查询结果:{{query_result}}</span></td>
                        </form>
                    </tr>
                    <tr>
                        <td>学生学号</td>
                        <td>课程号</td>
                        <td>成绩</td>
                    </tr>
                    {% for result in results %}
                    <tr>
                        <td>{{result[0]}}</td>
                        <td>{{result[1]}}</td>
                        <td>{{result[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>

</html>